body{
    background-color: lightgray;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100px;
    margin-top: 250px;
    margin-left: 350px;
    background-color: rgb(56, 153, 183);
}

#time{
    padding : 10px;
    color: rgb(20, 19, 19);
}

.btn{
    width: 100px;
    padding: 10px 15px;
    color: rgb(116, 15, 116)
}